body {
    font: 14px Helvetica, Arial, sans-serif;
    background: #fff;
}

#result {
    border: 2px solid #000;
    padding: 7px;
    float: left;
    width: 500px;
    margin: 20px 0;
    background: #ffa;
    min-height: 18px;
    max-height: 100px;
    overflow: auto;
}

.flexible {
    background: #c95935;
    height: 30px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 25px;
    margin-bottom: 10px;
}

#flexible2 {
    max-width: 600px;
}

#flexible3 {
    min-width: 400px;
}